body {
	background-color: #708090;
	font-family: arial;
}

.header {
	background-color: #c0c0c0;
	margin: 0px;
	height: 170px;
	text-align: center;
}

.header h1 {
	font-size: 28px;
	background-color: #696969;
}

.header img {
	width: 250px;
}

.menu {
	background-color: #c0c0c0;
	border: 3px solid #fffafa;
	height: 100px;
	margin-top: 5px;
	text-align: center;
}

.menu h1 {
	font-size: 20px;
	background-color: #696969;
	margin: 0px;
}

.menu p {
	margin-b: 10px;
}

.sidebar {
	background-color: #696969;
	border: 3px solid #fffafa;
	text-align: center;
	margin-top: 5px;
	float: right;
	height: 430px;
	width: 200px;
}

.sidebar h1 {
	background-color: #696969;
}

.sidebox {
	background-color: #c0c0c0;
	border: 3px solid #fffafa;
	text-align: center;
	margin: 5px;
}

.sidebox h1 {
	font-size: 20px;
	background-color: #c0c0c0;
	font-size: 13pt;
}

.sidebox img {
	width: 170px;
	height: 90px;
}

.content {
  background-color: #c0c0c0;
  border: 3px solid #fffafa;
  margin-right: 212px;
  height: 700px;
  margin-top: 5px;
  overflow: auto; /* Menambahkan overflow untuk konten yang melebihi tinggi .content */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%; /* Menggunakan tinggi 100% agar .container mengisi seluruh tinggi .content */
}

.box {
  width: 400px;
  height: 580px;
  /* Mengubah tinggi kotak menjadi 300px */
  background-color: #708090;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.box img {
  width: 90%;
  height: 50%;
  object-fit: cover;
  /* Mengatur gambar agar sesuai dengan ukuran kotak */
  border-radius: 10px;
  /* Menyesuaikan sudut gambar sesuai dengan kotak */
}

.box h2 {
  margin-top: 0;
  background-color: #696969;
}

.box p {
  margin-bottom: 0;
}

.footer {
	background-color: #c0c0c0;
	border: 3px solid #fffafa;
	height: 40px;
	margin-top: 5px;
}

.footer h1 {
	font-size: 20px;
	margin: 0px;
	margin-botom: 0px;
}